body{
    font-family: Arial,sans-serif;
    background-color: #f2f2f2;
}
.chat-container{
    width:400px ;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
#chat-box{
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.user{
    text-align: right;
    color: blue;
    margin: 5px 0;
}
.bot{
    text-align: left;
    color: green;
    margin: 5px 0;
}
input[type="text"]{
    width: 75%;
    padding:10px;
    box-sizing:border-box;
}
button{
    padding:10px;
}